Repository CristobalNavarroSchanentgen/olympian-ai-dynamic: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, no-print-statements, requirements-txt-fixer

pytest-check:
  name: pytest-check
  entry: bash -c 'cd backend && python -m pytest tests/ -x -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - push

no-print-statements:
  name: No print statements
  entry: bash -c 'grep -n "print(" $0 && exit 1 || exit 0'
  language: system

requirements-txt-fixer:
  name: Fix requirements.txt
  entry: bash -c 'cd backend && sort -u requirements.txt -o requirements.txt'
  language: system

Add global service manager to fix service instance issues
  backend/app/core/service_manager.py
Due: pytest-check, no-print-statements

Update main.py to register services globally
  backend/main.py
Due: pytest-check

Fix chat API to use global service manager and fix discovered services access
  backend/app/api/chat.py
Due: pytest-check, no-print-statements

Fix WebSocket manager to use global service manager and add better logging
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Add stop generation functionality to WebSocket manager
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Add stop generation and status endpoints to chat API
  backend/app/api/chat.py
Due: pytest-check, no-print-statements

Add stop button functionality for chat streaming
  backend/app/api/chat.py
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Add stop button functionality to divine dialogue UI
  frontend/src/pages/DivineChatInterface.tsx
Due: none

🛑 Add Stop Button to Divine Dialogue UI
  frontend/src/pages/DivineChatInterface.tsx
Due: none

Fix WebSocket cancellation bug in stop generation
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Add enhanced Ollama endpoint management API
  backend/app/api/ollama_config.py
Due: pytest-check, no-print-statements

Register Ollama configuration router for sacred endpoint management
  backend/main.py
Due: pytest-check

Create Sacred Ollama Endpoints management component for divine endpoint configuration
  frontend/src/components/SacredOllamaEndpoints.tsx
Due: none

Enhance DynamicConfiguration with dedicated Sacred Ollama tab for advanced endpoint management
  frontend/src/pages/DynamicConfiguration.tsx
Due: none

Add comprehensive documentation for Sacred Ollama Endpoint Management
  docs/sacred-ollama-endpoints.md
Due: none

Update README with Sacred Ollama Endpoint Management feature documentation
  README.md
Due: none

Fix import error - use discovery_engine global instance instead of ServiceDiscovery class
  backend/app/api/ollama_config.py
Due: pytest-check, no-print-statements

Add ollama_config router to API module exports for Sacred Ollama endpoint management
  backend/app/api/__init__.py
Due: pytest-check, no-print-statements

Fix Pydantic v2 compatibility - use field_validator and model_dump() instead of v1 syntax
  backend/app/api/ollama_config.py
Due: pytest-check, no-print-statements

Fix set-primary endpoint to use query parameter instead of JSON body
  backend/app/api/ollama_config.py
Due: pytest-check, no-print-statements

Fix frontend setPrimary API call to use query parameter instead of JSON body
  frontend/src/components/SacredOllamaEndpoints.tsx
Due: none

Add MongoDB support with motor async driver
  backend/requirements.txt
Due: requirements-txt-fixer

Add MongoDB configuration and enhance Redis settings
  backend/.env.example
Due: none

Create main docker-compose.yml with MongoDB, Redis, and all services
  docker-compose.yml
Due: none

Create production docker-compose with monitoring and enhanced security
  docker-compose.prod.yml
Due: none

Create Redis production configuration
  config/redis.conf
Due: none

Create MongoDB initialization script with collections and indexes
  scripts/mongo-init.js
Due: none

Optimize backend Dockerfile with multi-stage build and security improvements
  backend/Dockerfile
Due: none

Optimize frontend Dockerfile with enhanced caching, security, and multi-stage build
  frontend/Dockerfile
Due: none

Create comprehensive .env.example file for all services
  .env.example
Due: none

Enhance Makefile with comprehensive Docker, MongoDB, and Redis commands
  Makefile
Due: none

Update README with Docker, MongoDB, and Redis documentation
  README.md
Due: none

Fix docker-compose.yml - remove non-existent MCP images and fix configuration
  docker-compose.yml
Due: none

Create minimal Redis configuration for development
  config/redis.conf
Due: none

Update docker-compose.override.yml.example with optional services
  docker-compose.override.yml.example
Due: none

Remove Ollama container and configure backend to use host Ollama
  docker-compose.yml
Due: none

Fix Docker GPG signature issues for backend
  backend/Dockerfile
Due: none

Comprehensive fix for Docker GPG signature issues
  backend/Dockerfile
Due: none

Relax TypeScript strictness to fix build errors
  frontend/tsconfig.json
Due: none

Fix missing cn import in ProjectWorkspace.tsx
  frontend/src/pages/ProjectWorkspace.tsx
Due: none

Path conditions:
  pytest-check: any of: ^backend/.*\.py$
  no-print-statements: any of: ^backend/app/.*\.py$
  requirements-txt-fixer: any of: ^backend/requirements\.txt$
