Repository CristobalNavarroSchanentgen/olympian-ai-dynamic: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, no-print-statements, requirements-txt-fixer

pytest-check:
  name: pytest-check
  entry: bash -c 'cd backend && python -m pytest tests/ -x -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - push

no-print-statements:
  name: No print statements
  entry: bash -c 'grep -n "print(" $0 && exit 1 || exit 0'
  language: system

requirements-txt-fixer:
  name: Fix requirements.txt
  entry: bash -c 'cd backend && sort -u requirements.txt -o requirements.txt'
  language: system

Fix TypeScript errors in DivineChatInterface.tsx
  frontend/src/pages/DivineChatInterface.tsx
Due: none

Fix ConfigContext TypeScript errors
  frontend/src/contexts/ConfigContext.tsx
Due: none

Fix DynamicConfiguration TypeScript errors
  frontend/src/pages/DynamicConfiguration.tsx
Due: none

Remove unsupported size prop from Switch component
  frontend/src/components/SacredOllamaEndpoints.tsx
Due: none

Fix WebSocket test imports - update ConnectionManager to WebSocketManager
  backend/tests/test_websocket.py
Due: pytest-check

Fix integration test imports - update ConnectionManager to WebSocketManager
  backend/tests/test_integration.py
Due: pytest-check

Add missing projects variable for test compatibility
  backend/app/api/projects.py
Due: pytest-check, no-print-statements

Add missing webhooks variable for test compatibility
  backend/app/api/webhooks.py
Due: pytest-check, no-print-statements

Fix pytest asyncio configuration warning
  backend/pytest.ini
Due: none

Fix pytest markers configuration - add integration marker properly
  backend/pytest.ini
Due: none

Fix pytest.ini section header - should be [pytest] not [tool:pytest]
  backend/pytest.ini
Due: none

Fix chat API test imports - patch get_ollama_service instead of ollama_service
  backend/tests/test_chat_api.py
Due: pytest-check

Fix regenerate test and add better test coverage for edge cases
  backend/tests/test_chat_api.py
Due: pytest-check

Restore full chat API test file with regenerate test fix
  backend/tests/test_chat_api.py
Due: pytest-check

Fix regenerate endpoint URL path in test
  backend/tests/test_chat_api.py
Due: pytest-check

Fix failing regenerate_last_response test - correct URL path and add comprehensive test coverage
  backend/tests/test_chat_api.py
Due: pytest-check

Add missing test fixtures - client and mock_conversations
  backend/tests/conftest.py
Due: pytest-check

Fix client fixture - properly import main app and setup test fixtures
  backend/tests/conftest.py
Due: pytest-check

Add comprehensive mocks for app startup dependencies
  backend/tests/conftest.py
Due: pytest-check

Fix config API tests - use correct endpoints and URL paths
  backend/tests/test_config_api.py
Due: pytest-check

Fix recursion error in config API test - properly mock user preferences serialization
  backend/tests/test_config_api.py
Due: pytest-check

Fix CORS origin removal test - URL encode origin parameter to handle special characters
  backend/tests/test_config_api.py
Due: pytest-check

Path conditions:
  pytest-check: any of: ^backend/.*\.py$
  no-print-statements: any of: ^backend/app/.*\.py$
  requirements-txt-fixer: any of: ^backend/requirements\.txt$
