Repository CristobalNavarroSchanentgen/olympian-ai-dynamic: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, no-print-statements, requirements-txt-fixer

Path conditions:
  pytest-check: any of: ^backend/.*\.py$
  no-print-statements: any of: ^backend/app/.*\.py$
  requirements-txt-fixer: any of: ^backend/requirements\.txt$

Create comprehensive integration tests example
  backend/tests/test_integration.py
Due: pytest-check

Create testing implementation summary
  docs/TESTING_IMPLEMENTATION.md
Due: none

Fix requirements.txt - remove deprecated asyncio-timeout for Python 3.11+
  backend/requirements.txt
Due: requirements-txt-fixer

Create main.py entry point for FastAPI application
  backend/main.py
Due: pytest-check

Create app package __init__.py
  backend/app/__init__.py
Due: pytest-check, no-print-statements

Create core package __init__.py
  backend/app/core/__init__.py
Due: pytest-check, no-print-statements

Create core config module with settings
  backend/app/core/config.py
Due: pytest-check, no-print-statements

Create service discovery engine
  backend/app/core/discovery.py
Due: pytest-check, no-print-statements

Fix config.py to handle CORS_ORIGINS parsing more robustly
  backend/app/core/config.py
Due: pytest-check, no-print-statements

fix: Update CORS origins validator for Pydantic v2 compatibility
  backend/app/core/config.py
Due: pytest-check, no-print-statements

fix: Complete Pydantic v2 migration for all validators
  backend/app/core/config.py
Due: pytest-check, no-print-statements

fix: Handle CORS origins parsing with Pydantic Settings v2
  backend/app/core/config.py
Due: pytest-check, no-print-statements

Add missing environment variables and fix validation errors
  backend/app/core/config.py
Due: pytest-check, no-print-statements

Fix missing List import in config API routes
  backend/app/api/config.py
Due: pytest-check, no-print-statements

Add missing data_dir property for project service
  backend/app/core/config.py
Due: pytest-check, no-print-statements

Add missing websocket_endpoint function
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Fix WebSocket endpoint registration in main.py
  backend/main.py
Due: pytest-check

Fix dictionary access in OllamaService initialization
  backend/app/services/ollama_service.py
Due: pytest-check, no-print-statements

Add missing methods to Settings class for full compatibility
  backend/app/core/config.py
Due: pytest-check, no-print-statements

Fix dictionary access in MCPService initialization
  backend/app/services/mcp_service.py
Due: pytest-check, no-print-statements

Fix user_preferences property and improve config loading
  backend/app/core/config.py
Due: pytest-check, no-print-statements

Fix: Add missing shadcn/ui color variables to tailwind config
  frontend/tailwind.config.js
Due: none

Fix: Add missing shadcn/ui color variables to resolve border-border class error
  frontend/tailwind.config.js
Due: none

Fix: Correct provider hierarchy to resolve useWebSocket context error
  frontend/src/App.tsx
Due: none

Fix: Handle psutil permission errors gracefully on macOS
  backend/app/api/system.py
Due: pytest-check, no-print-statements

Fix: Update config API to use correct settings attributes
  backend/app/api/config.py
Due: pytest-check, no-print-statements

Fix: Add WebSocket endpoint without client_id requirement
  backend/main.py
Due: pytest-check

Fix: Update WebSocket manager for Pydantic v2 compatibility
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Fix: Resolve backend permission errors and WebSocket connectivity issues
  backend/app/api/config.py
  backend/app/api/system.py
  backend/app/core/websocket.py
  backend/main.py
Due: pytest-check, no-print-statements

Fix: Handle dict/model compatibility in config API
  backend/app/api/config.py
Due: pytest-check, no-print-statements

Fix: Add safe_model_dump to WebSocket manager and improve error handling
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Fix: Make WebSocket manager resilient to service initialization failures
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Fix: Resolve dict/model compatibility and WebSocket 403 errors
  backend/app/api/config.py
  backend/app/core/websocket.py
Due: pytest-check, no-print-statements

Fix: Add proper WebSocket typing to resolve 403 Forbidden errors
  backend/main.py
Due: pytest-check

Fix discovery scan method name - change scan_all_services to full_scan
  backend/app/api/discovery.py
Due: pytest-check, no-print-statements

Fix service discovery integration - properly initialize discovery engine and services
  backend/main.py
Due: pytest-check

Enhance discovery engine with better logging and error handling for Ollama connections
  backend/app/core/discovery.py
Due: pytest-check, no-print-statements
